<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>XDDqpLT/MBS3MIMPFJPLPWS7b909Q0qsUBl6v3fO3D942Pr98I3rJZdh+vgE/NtYcLOJrIH26uxCuubJhqNlwPynQvXTje9iZ5l2y4cpaDq7XkmOK8fq7uO0326SYDc+7Vb13whABtyJdoKab8/nN+A/mByJkT6s9JQ87vuAzmE=</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>DXHb1Q3J0HmCuuBTj2DQgPZwl/YUtT76cxeCsh8qAUY=</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>